In [ ]:
# Our focus is not only write the code
# Explain to the grandfather

In [3]:
a=10
b=20
print(a)
print(b)

10
20

In [5]:
a=10
b=20
a,b

(10, 20)

In [43]:
a=10
b=20
print(a,b)

10 20

In [9]:
a=10
b=20
c=a+b
print(c)

# a=10 b=20 c=sum of a and b
# sum of two variables

30

In [45]:
a=10
b=20
c=a+b
print("sum of 10 and 20 is 30") 
print("sum of a and b is c")
print("sum of",a,"and",b,"is",c)

sum of 10 and 20 is 30
sum of a and b is c
sum of 10 and 20 is 30

In [47]:
name='python'
age=10
city='hyd'
print("my name is",name,"im",age,"years old came from",city)

my name is python im 10 years old came from hyd

**Method-2:format**

In [52]:
a=10
b=20
c=a+b
print("sum of 10 and 20 is 30") 
print("sum of {} and {} is {}") 
print("sum of {} and {} is {}".format(a,b,c))

sum of 10 and 20 is 30
sum of {} and {} is {}
sum of 10 and 20 is 30

In [60]:
name="kumar"
age=10
city="bangalore"
print("my name is kumar im 10 years old im from bangalore")
print("my name is {} im {} years old im from {}".format(city,age,name))

my name is kumar im 10 years old im from bangalore
my name is bangalore im 10 years old im from kumar

**Method-3:fstring**

In [65]:
a=10
b=20
c=a+b
print("sum of 10 and 20 is 30") 
print("sum of {a} and {b} is {c}") 
print(f"sum of {a} and {b} is {c}")

sum of 10 and 20 is 30
sum of {a} and {b} is {c}
sum of 10 and 20 is 30

In [ ]:
# wap ask the user take two number
# print addition subtraction multiplication and division

# Output like below:
# the addition of 100 and 200 is:300           a+b
# the subtraction of 100 and 200 is: -100      a-b   
# the multiplication of 100 and 200 is: 20000  a*b
# the division of 100 and 200 is: 0.5          a/b

In [69]:
a=100
b=200
print(f"sum of {a} and {b} is equal to {a+b}.")
print(f"sub of {a} and {b} is equal to {a-b}.")
print(f"multi of {a} and {b} is equal to {a*b}.")
print(f"div of {a} and {b} is equal to {a/b}.")

sum of 100 and 200 is equal to 300.
sub of 100 and 200 is equal to -100.
multi of 100 and 200 is equal to 20000.
div of 100 and 200 is equal to 0.5.

In [83]:
# wap ask the user take three numbers a,b,c
# find the average
# formula :  avg=(a+b+c)/3

a=11
b=20
c=30
avg=(a+b+c)/3
print(f"the avg of {a},{b} and {c} is:{avg}")

the avg of 11,20 and 30 is:20.333333333333332

In [87]:
round(34.47)

34

In [89]:
round(34.57)

35

In [95]:
round(34.47777,1) # 34.5
round(34.47777,2) # 34.48
round(34.47777,3) # 34.478

34.478

In [97]:
a=11
b=20
c=30
avg=(a+b+c)/3
avg1=round(avg,2)
print(f"the avg of {a},{b} and {c} is:{avg1}")

the avg of 11,20 and 30 is:20.33

In [ ]:
# wap ask the user take two number print subtraction multiplication and division
# wap ask the user take the radius find the area of circle
# pi=3.14
# r=100
# area_of_circle=pi*r*r

# wap ask the user take height and breadth find the area of traingle
#       area_of_traingle=0.5*b*h

# wap ask the user take 3 numbers find the average
# wap ask the user take the bill amount and tip anount calculate total bill
# wap ask the user take the salary, percetage of tax calculate tax amount
# wap ask the user take the value in dollar convert into rupees
#         1$=80rs
# wap ask the use take weight in kgs convert into pounds
#     1kg=2.2pounds

In [107]:
# pi=3.14
# r=100
# area_of_circle=pi*r*r
pi=3.14
r=100
area_of_circle=pi*r*r

print(area_of_circle)  # fine for me

31400.0

In [109]:
# wap ask the user take height and breadth find the area of traingle
#       area_of_traingle=0.5*b*h
b=10
h=20
area_of_traingle=0.5*b*h
print(area_of_traingle)

100.0

In [ ]:
bill_amount=1000
tip_per=10
tip_Amount=bill_amount*tip_per/100
total_Amount=bill_amount+tip_Amount

In [ ]:
# wap ask the user take the salary, percetage of tax calculate tax amount
bill_amount=10000
tip_percentage=10
tip_amount=bill_amount*tip_percentage/100
total_amount=bill_amount+tip_amount
print(f"the total bill is:{total_amount}")
# wap ask the user take the value in dollar convert into rupees
#         1$=80rs
dollar=5
rupee_value=80
total=dollar*rupee_value
print("total amount in rupees:5$*80rs=400")
print(f"total amount in rupees:{dollar}$*{rupee_value}rs={total}")
# wap ask the use take weight in kgs convert into pounds
#     1kg=2.2pounds

In [5]:
dollar=5
rupee_value=80
total=dollar*rupee_value
print("total amount in rupees:5$*80rs=400rs") # Fix the write
print("total amount in rupees:{}$*{}rs={}rs") # apply curly
print("total amount in rupees:{dollar}$*{rupee_value}rs={total}rs") # provide the variables
print(f"total amount in rupees:{dollar}$*{rupee_value}rs={total}rs") # f string

total amount in rupees:5$*80rs=400rs
total amount in rupees:{}$*{}rs={}rs
total amount in rupees:{dollar}$*{rupee_value}rs={total}rs
total amount in rupees:5$*80rs=400rs

In [7]:
kgs = 50
pound = 2.20462
converted_value =kgs* pound
print(f"converted value of weight of kg is {kgs} and pound is {pound} : {converted_value} ")

converted value of weight of kg is 50 and pound is 2.20462 : 110.231

In [17]:
weight_in_kgs=70
weight_in_pounds=2.2*weight_in_kgs
print(f" weight_in_pounds = weight_in_kgs*2.2 = {weight_in_kgs}*2.2 = {weight_in_pounds}lbs")

 weight_in_pounds = weight_in_kgs*2.2 = 70*2.2 = 154.0lbs