**List_Comprehension**

- Writing list operation in a single line is called as List Comprehension
- Generally code process time will increase when we use for and if
- List comprehension will reduce the processing time

**Case 1:List with for loop**

In [ ]:
#[<output><for loop>]

In [ ]:
#append 1 to 10 number in a list

In [2]:
l=[]
for i in range(1,11):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
l=[i for i in range(1,11)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Q1) input=['hyd','bengaluru','mumbai','chennai']
#     output=['Hyd','Bengaluru','Mumbai','Chennai']

# Q2) input=['hyd','bengaluru','mumbai','chennai']
#     output=['HYD','BENGALURU','MUMBAI','CHENNAI']

In [7]:
Input=['hyd','bengaluru','mumbai','chennai']
output=[i.title() for i in Input]
print(output)

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

In [8]:
Input=['hyd','bengaluru','mumbai','chennai']
output=[i.upper() for i in Input]
print(output)

['HYD', 'BENGALURU', 'MUMBAI', 'CHENNAI']

**Case 2:for-if condition**

In [ ]:
#[<output> <for loop> <if condition>]

In [12]:
import random 
Input=[random.randint(1,100) for i in range(5)]
even_list=[]
for i in Input:
    if i%2==0:
        even_list.append(i)
print(even_list)

[82, 26, 26]

In [14]:
import random 
Input=[random.randint(1,100) for i in range(5)]
even_list=[i for i in Input if i%2==0]
odd_list=[i for i in Input if i%2!=0]
even_list,odd_list

([4, 88, 44], [37, 37])

In [ ]:
#Q3)input=['hyd','bengaluru','mum#bai','chen#nai']
#     output=['mum#bai','chen#nai']

# Q4) input=['hyd','bengaluru','mum#bai','chen#nai']
#     output=['hyd','bengaluru']

In [16]:
Input=['hyd','bengaluru','mum#bai','chen#nai']
output=[i for i in Input if '#' in i]
output

['mum#bai', 'chen#nai']

In [17]:
Input=['hyd','bengaluru','mum#bai','chen#nai']
output=[i for i in Input if '#' not in i]
output

['hyd', 'bengaluru']

**Case 3:for-if-else**

In [ ]:
#[<output if> <if condition> else <else output> <for loop> <>]

In [1]:
import random
num=[random.randint(1,100) for i in range(1,100)]
output=[f"{i}:even" if i%2==0 else f"{i}:odd" for i in num ]
output

['30:even',
 '32:even',
 '3:odd',
 '75:odd',
 '69:odd',
 '38:even',
 '51:odd',
 '11:odd',
 '8:even',
 '19:odd',
 '73:odd',
 '65:odd',
 '22:even',
 '7:odd',
 '12:even',
 '60:even',
 '90:even',
 '36:even',
 '79:odd',
 '52:even',
 '10:even',
 '22:even',
 '66:even',
 '83:odd',
 '100:even',
 '31:odd',
 '56:even',
 '57:odd',
 '33:odd',
 '38:even',
 '13:odd',
 '95:odd',
 '26:even',
 '32:even',
 '7:odd',
 '80:even',
 '81:odd',
 '92:even',
 '62:even',
 '13:odd',
 '76:even',
 '94:even',
 '63:odd',
 '31:odd',
 '70:even',
 '45:odd',
 '13:odd',
 '14:even',
 '79:odd',
 '82:even',
 '91:odd',
 '12:even',
 '63:odd',
 '66:even',
 '79:odd',
 '93:odd',
 '46:even',
 '45:odd',
 '95:odd',
 '28:even',
 '49:odd',
 '69:odd',
 '41:odd',
 '15:odd',
 '6:even',
 '43:odd',
 '15:odd',
 '71:odd',
 '69:odd',
 '51:odd',
 '50:even',
 '72:even',
 '86:even',
 '31:odd',
 '35:odd',
 '9:odd',
 '66:even',
 '68:even',
 '69:odd',
 '45:odd',
 '96:even',
 '79:odd',
 '66:even',
 '61:odd',
 '16:even',
 '79:odd',
 '62:even',
 '7:odd',
 '57:odd',
 '75:odd',
 '69:odd',
 '57:odd',
 '33:odd',
 '6:even',
 '49:odd',
 '23:odd',
 '91:odd',
 '74:even',
 '43:odd']

**Case 4:for-if-elif-else**

In [ ]:
#[<if out> <if con> else <if out2> <if con> else <else out> <for loop>]

- There is no elif concept in list comprehension
- elif will be write as if + else
- elif condition, elif output: else, if cond, outout

In [4]:
Input=[50,47,89,92,66]
for i in input1:
    if i>=70:
        print(f'{i}:A grade')
    elif i>=50:
        print(f'{i}:B grade')
    else:
        print(f'{i}:C grade')

50:B grade
47:C grade
89:A grade
92:A grade
66:B grade

In [6]:
Input=[50,47,89,92,66]
output=[f"{i}:A" if i>=70 else f"{i}:B" if i>=50 else f"{i}:C" for i in Input]
output

['50:B', '47:C', '89:A', '92:A', '66:B']

**Student who passed**

In [1]:
Input=[45,76,89,53,67,90,82,49,33,99]
output=[f"{i}:Passed" if i>50 else f"{i}:failed" for i in Input]
output

['45:failed',
 '76:Passed',
 '89:Passed',
 '53:Passed',
 '67:Passed',
 '90:Passed',
 '82:Passed',
 '49:failed',
 '33:failed',
 '99:Passed']

**Calculate grades for all students**

In [2]:
Input=[45,76,89,53,67,90,82,49,33,99]
output=[f"{i}:A" if i>=85 else f"{i}:B" if i>=70 and i<=84 else f"{i}:C" if i>=50 and i<=69 else f"{i}:F" for i in Input]
print(output)

['45:F', '76:B', '89:A', '53:C', '67:C', '90:A', '82:B', '49:F', '33:F', '99:A']

**Add 5 marks grace for who failed**

In [21]:
Input=[45,76,89,53,67,90,82,49,33,99]
output=[i+5 for i in Input if i<50 ]
print(output)

[50, 54, 38]

**Top 3 students**

In [13]:
Input=[45,76,89,53,67,90,82,49,33,99]
Input.sort()
print(Input[:-4:-1])

[99, 90, 89]

**Find Avg marks**

In [37]:
num = list(range(1, 11))
total = 0
[total := total + i for i in num] 
print(total / len(num))

5.5

**Lambda Function**

- Lambda function also function
- It is similar to list comprehension
- Functions we are writing in a single line

In [38]:
def add(a):
    return a+10
add(20)

30

**Case 1: Function with one argument**

In [ ]:
# What is the function name : add
# What is the argument: a
# What is the output:a+10
#<function_name>=lambda <arg>:output

In [42]:
add=lambda a:a+10
add(50)

60

**Case 2:Multiple arguments**

In [ ]:
#<function_name>=lambda <args>:output

In [43]:
def avg(x,y,z):
    return (x+y+z)/3
avg(10,20,30)

20.0

In [46]:
avg=lambda x,y,z:(x+y+z)/3
round(avg(10,20,30))

20

**Case 2:if-else**

In [ ]:
#<function_name>=lambda <args>:<if output> <if cond> else <else output>

In [48]:
def even_odd(num):
    if num%2==0:
        return 'even'
    else:
        return 'odd'
even_odd(13)

'odd'

In [49]:
even_odd=lambda num:'even' if num%2==0 else 'odd'
even_odd(100)

'even'

In [ ]:
#input=['hyd','bengaluru','mumbai','chennai']
#output=['Hyd','Bengaluru','Mumbai','Chennai']

In [1]:
#Step 1: Create a function
Input=['hyd','bengaluru','mumbai','chennai']
lambda i:i.title()

In [52]:
#Step 2: this arg needs input
#inputs are available in a list:Input
# lambda <arg>:<output>,<list>
Input=['hyd','bengaluru','mumbai','chennai']
lambda i:i.title(),Input

(<function __main__.<lambda>(i)>, ['hyd', 'bengaluru', 'mumbai', 'chennai'])

**Mapping map()**

In [54]:
#Step 3:map the function and list
#map(<functtion>,<list>)
Input=['hyd','bengaluru','mumbai','chennai']
map(lambda i:i.title(),Input)

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

In [55]:
#Step 4:list function
Input=['hyd','bengaluru','mumbai','chennai']
list(map(lambda i:i.title(),Input))

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

In [ ]:
#input=['hyd','bengaluru','mumbai','chennai']
#output=['HYD','BENGALURU','MUMBAI','CHENNAI']

In [56]:
Input=['hyd','bengaluru','mumbai','chennai']
list(map(lambda i:i.upper(),Input))

['HYD', 'BENGALURU', 'MUMBAI', 'CHENNAI']

In [ ]:
# input=['hyd','bengaluru','mum#bai','chen#nai']
# output=['mum#bai','chen#nai']

**filter()**

In [64]:
#No need of if 
#filter() for conditions no need of map()
Input=['hyd','bengaluru','mum#bai','chen#nai']
list(filter(lambda i:'#' in i,Input))

['mum#bai', 'chen#nai']

**reduce()**

In [65]:
num=[i for i in range(1,11)]

In [66]:
sum=0
for i in num:
    sum=sum+i
print(sum)

55

In [67]:
num=[i for i in range(1,11)]
sum=0
[sum:=sum+i for i in num][-1]

55

In [70]:
import functools
dir(functools)

['GenericAlias',
 'RLock',
 'WRAPPER_ASSIGNMENTS',
 'WRAPPER_UPDATES',
 '_CacheInfo',
 '_HashedSeq',
 '_NOT_FOUND',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_c3_merge',
 '_c3_mro',
 '_compose_mro',
 '_convert',
 '_find_impl',
 '_ge_from_gt',
 '_ge_from_le',
 '_ge_from_lt',
 '_gt_from_ge',
 '_gt_from_le',
 '_gt_from_lt',
 '_initial_missing',
 '_le_from_ge',
 '_le_from_gt',
 '_le_from_lt',
 '_lru_cache_wrapper',
 '_lt_from_ge',
 '_lt_from_gt',
 '_lt_from_le',
 '_make_key',
 '_unwrap_partial',
 '_unwrap_partialmethod',
 'cache',
 'cached_property',
 'cmp_to_key',
 'get_cache_token',
 'lru_cache',
 'namedtuple',
 'partial',
 'partialmethod',
 'recursive_repr',
 'reduce',
 'singledispatch',
 'singledispatchmethod',
 'total_ordering',
 'update_wrapper',
 'wraps']

In [ ]:
#map(lambda arg:<output>,<list>)
#filter(map(lambda arg:(<ccondition output>,<list>)))
#reduce(lambda arg:(<output>,<list>)

In [72]:
from functools import reduce
num=[i for i in range(1,11)]
reduce(lambda i,sum:sum+i,num)

55