In [1]:
import os

In [3]:
os.getcwd()

'C:\\Users\\omkar\\OneDrive\\Documents\\Data science\\Naresh IT\\Naresh IT\\Data science\\Batches\\Batch_16_July\\python_sessions'

- we are using some inbulit functions

In [ ]:
print()
type()
sum()
max()
min()
len()
len[]   # wrong

In [6]:
os.getcwd

In [12]:
os.getcwd()

'C:\\Users\\omkar\\OneDrive\\Documents\\Data science\\Naresh IT\\Naresh IT\\Data science\\Batches\\Batch_16_July\\python_sessions'

- if we miss brackets

    - function

    - bound method

## Data types

- int

- float

- bool

- str

- complex

- range

- list

- tuple

- dict

- set

- frozenset

- bytes

- bytearray

- memoryview

In [ ]:
python basics
    - Variables

    - Data types

    - Type casting , how to convert one data type to another data type

    - print statements

    - basic codes

    - input , eval , round

    - packages or libraries  i.e.very important

    - conditional statements

    - exceptional handling

    - functions

    - for and while
python core
    - strings

    - list 

        - list comprehension

    - tuple   # my students

    - dictionary

    - lambda functions

    - file handling

30days ==== learn

python advanced

    - oops EDA ML


python + stats : EDA
python + ML : 
python + DL
python+ NLP
python+Genai

**integer**

In [18]:
number=100
type(number)

int

**float**

In [23]:
number1=100.25
type(number1)

float

In [29]:
print(10e1)  # 10*10
print(10e2)  # 10*100
print(10e3)  # 10*1000

100.0
1000.0
10000.0

In [31]:
print(10e-1) # 10/10
print(10e-2) # 10/100
print(10e-3) # 10/1000

1.0
0.1
0.01

In [37]:
-1.91946214e-10

-0.000191946214

In [39]:
print(10e+1) 
print(10e+2) 
print(10e+3)

100.0
1000.0
10000.0

In [41]:
10e+1==10e1

True

In [43]:
10e+1==10e2

False

In [ ]:
10e-1,10e+1,10e1

**Strings**

In [48]:
omkar=200

In [52]:
omkaaaar

NameError: name 'omkaaaar' is not defined

In [56]:
OMKAR=500

In [58]:
OMKAR

500

In [66]:
city='Hyderabad'
type(city)

str

In [68]:
"Mumbai"

'Mumbai'

In [70]:
print('Mumbai')

Mumbai

In [72]:
"Chennai"

'Chennai'

In [74]:
'Chennai'

'Chennai'

In [76]:
print('Chennai')

Chennai

In [78]:
print('hello')

hello

In [80]:
print(' hello')

 hello

In [82]:
print('hello   ')

hello

In [84]:
'hello   '

'hello   '

In [92]:
len('hello')

5

In [94]:
"Benagluru'

SyntaxError: unterminated string literal (detected at line 1) (4261755221.py, line 1)

In [96]:
"Benagluru"

'Benagluru'

In [100]:
len(' hello          ')

16

**Name not found error**

- Name means variable is not written before

- And we are trying to use that

- Check the variable name have you written before or not

In [2]:
str1='python'
str2="python"
str1,str2

('python', 'python')

In [4]:
str1='python'
str2="python"
print(str1)
print(str2)

python
python

In [14]:
print('Im studying at "NareshIT"')

Im studying at "NareshIT"

In [16]:
print('Im studying at 'NareshIT'')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2709408773.py, line 1)

In [18]:
print("Im studying at 'NareshIT'")

Im studying at 'NareshIT'

In [20]:
print("Im studying at "NareshIT"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1316391732.py, line 1)

**Note**

- Entire string in single quotes

- Highlite the word in double quote vice versa

**triple quotes**

In [27]:
"""My name is python
Im 10 years old
I came from Hyderabad"""

'My name is python\nIm 10 years old\nI came from Hyderabad'

In [29]:
print("""My name is python
Im 10 years old
I came from Hyderabad""")

My name is python
Im 10 years old
I came from Hyderabad

**Doc string**

- We will write the information about python file

- We will write the information about functions

- To make user familier with our python code

- We will use triple quotes 

- It is nothing but a Multiline comments

- Never use triple quotes in a coding

- Triple quoutes means convey the inforamtion is called as **Doc string**

In [32]:
import os

In [34]:
''' hello ''' 
"hello"
'hello'
""" hello """

' hello '

In [36]:
import os
os.getcwd()   
# take your cursor inside the bracket
# do shift+tab

'C:\\Users\\omkar\\OneDrive\\Documents\\Data science\\Naresh IT\\Naresh IT\\Data science\\Batches\\Batch_16_July\\python_sessions'

In [ ]:
# Return a unicode string representing the current working directory

In [44]:
import random
random.random()

In [ ]:
random() -> x in the interval [0, 1)

In [48]:
import math
math.pow

In [50]:
import math
math.pow(2,3)

# if we miss brackets : function
# shift+tab : doct string conveying the information
# 2**3

8.0

**bollean**

- when we ask a qn to a Machine

    - True means yes i.e. 1

    - True means ON

    - False means No i.e 0

    - False means OFF

In [54]:
n1=True
type(n1)

bool

In [56]:
true="True"  # true variable  string
true=True    # boolean
true=10      # int
true=10.5    # float
false=true   #
false

10.5

In [58]:
true="True"  # true variable  string
true=True    # boolean
true=10      # int
false=true   #
false

10

In [60]:
true="True"  # true variable  string
true=True    # boolean
false=true   #
false

True

In [62]:
true="True"  # true variable  string
false=true   #
false

'True'

**List**

- array of elements represents in a square brackets

In [65]:
l=[10,20,30,40]
type(l)

list

In [68]:
l1=['Ramesh','Suresh','Sathish']
l2=[10,'Ramesh',10.5,True]
l3=[10,10,10]
l4=['Apple',[10,20,30]]
print(l1)
print(l2)
print(l3)
print(l4)

['Ramesh', 'Suresh', 'Sathish']
[10, 'Ramesh', 10.5, True]
[10, 10, 10]
['Apple', [10, 20, 30]]

In [70]:
l=(10,20,30,40)
type(l)

tuple

In [72]:
t1=('Ramesh','Suresh','Sathish')
t2=(10,'Ramesh',10.5,True)
t3=(10,10,10)
t4=('Apple',[10,20,30])
print(t1)
print(t2)
print(t3)
print(t4)

('Ramesh', 'Suresh', 'Sathish')
(10, 'Ramesh', 10.5, True)
(10, 10, 10)
('Apple', [10, 20, 30])

**dictionary**

In [ ]:
[] : list
() : tuple
{} : ......?

In [75]:
n1={10,20,30}
type(n1)

set

- Its a Pair

- key and value pair

- seperated by :

In [ ]:
d1={'wife':'husband'} # dictinary
s1={'wife','husband'} # set
d2={'key':'value'}  # dictionary