**Assignment 17**

**1. List Operations with User Input**
- Write a program that asks the user to enter a list of integers. Perform the following tasks:

- (a) Print the total number of items in the list.

In [78]:
Input=input("Enter a list of integers:" )
l=Input.split()
total=0

for i in l:
    total+=1
print(f"Total no of items in list is {total}")

Enter a list of integers: 12 11 10 5 8 5 3 2 1

Total no of items in list is 9

- (b) Print the last item in the list.

In [79]:
print("Last element of the list is: ",l[-1])

Last element of the list is:  1

- (c) Print the list in reverse order.

In [80]:
print(list(reversed(l)))

['1', '2', '3', '5', '8', '5', '10', '11', '12']

- (d) Print Yes if the list contains a 5 and No otherwise.

In [81]:
for i in l:
    if '5' in l:
        print("YES")
        break
    else:
        print("NO")
        break

YES

- (e) Print the number of fives in the list.

In [82]:
num=0
for i in l:
    if i=='5':
        num+=1
print(num)

2

- (f) Remove the first and last items from the list, sort the remaining items, and print the result.

In [85]:
l.pop(0)
l.pop(-1)
print(list(sorted(l)))

['2', '3', '5']

- (g) Print how many integers in the list are less than 5.

In [87]:
num=0
for i in l:
    if int(i)<int("5"):
        num+=1
print(num)

2

**2. Random Number List Analysis**
- Write a program that generates a list of 20 random numbers between 1 and 100. Perform the
following tasks:

- (a) Print the list.

In [90]:
import random
l=[random.randint(1,100) for i in range(20)]
print(l)

[93, 1, 38, 11, 66, 90, 60, 96, 42, 48, 50, 94, 69, 7, 51, 74, 94, 59, 84, 56]

- (b) Print the average of the elements in the list.

In [91]:
print(sum(l)/len(l))

59.15

- (c) Print the largest and smallest values in the list.

In [93]:
print(max(l),min(l))

96 1

- (d) Print the second largest and second smallest entries in the list.

In [101]:
l2=set(l)
l3=list(l2)
l3.sort()
print(l3[1],l3[-2])

7 94

- (e) Print how many even numbers are in the list.

In [102]:
even_count=0
odd_count=0
for i in l:
    if i%2==0:
        even_count+=1
    else:
        odd_count+=1
print(f"Total no of even no {even_count}")
print(f"Total no of even no {odd_count}")

Total no of even no 13
Total no of even no 7

**3. Modify and Transform a Predefined List**
- Start with the list [8, 9, 10]. Perform the following tasks:

In [126]:
list3=[8,9,10]

- (a) Set the second entry (index 1) to 17.

In [127]:
list3[1]=17
list3

[8, 17, 10]

- (b) Add 4, 5, and 6 to the end of the list.

In [128]:
n=4
for i in range(3):
    list3.append(n)
    n=n+1
list3

[8, 17, 10, 4, 5, 6]

- (c) Remove the first entry from the list.

In [129]:
list3.pop(0)

8

- (d) Sort the list.

In [130]:
list3.sort()
print(list3)

[4, 5, 6, 10, 17]

- (e) Double the list.

In [131]:
list3=list3*2
print(list3)

[4, 5, 6, 10, 17, 4, 5, 6, 10, 17]

- (f) Insert 25 at index 3.
- The final list should equal [4, 5, 6, 25, 10, 17, 4, 5, 6, 10, 17].

In [132]:
list3.insert(3,25)
list3

[4, 5, 6, 25, 10, 17, 4, 5, 6, 10, 17]

**4. Replace Numbers Greater than 10**
- Ask the user to enter a list containing numbers between 1 and 12. Replace all entries in the list that
are greater than 10 with 10.

In [140]:
list4_u = input("Enter numbers between 1-12: ")
list4 = list4_u.split()

for i in range(len(list4)):
    if int(list4[i]) > 10:
        list4[i] = '10'   
        

print(list4)

Enter numbers between 1-12:  12 11 10 6 6 7 8 1

['10', '10', '10', '6', '6', '7', '8', '1']

**5. Modify Strings in a List**
- Ask the user to enter a list of strings. Create a new list that consists of those strings with their first
characters removed.

In [145]:
list5_u=input("Enter Strings: ")
list5_op=list5_u.split()
list5=[]
for i in list5_op:
    list5.append(i[1:])
list5

Enter Strings:  hello how are you

['ello', 'ow', 're', 'ou']

**6. Create Lists Using Loops**
- Using a for loop, create the following lists:

- (a) A list consisting of the integers 0 through 49.

In [146]:
l6=[i for i in range(50)]
l6

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

- (b) A list containing the squares of the integers 1 through 50.

In [148]:
l6=[i**2 for i in range(1,51)]
l6

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500]

- (c) The list [a, bb, cc, dddd, ...] that ends with 26 copies of the letter z.

In [152]:
l6=[]
n=97
for i in range(1,27):
    l6.append(chr(n)*i)
    n=n+1
print(l6)

['a', 'bb', 'ccc', 'dddd', 'eeeee', 'ffffff', 'ggggggg', 'hhhhhhhh', 'iiiiiiiii', 'jjjjjjjjjj', 'kkkkkkkkkkk', 'llllllllllll', 'mmmmmmmmmmmmm', 'nnnnnnnnnnnnnn', 'ooooooooooooooo', 'pppppppppppppppp', 'qqqqqqqqqqqqqqqqq', 'rrrrrrrrrrrrrrrrrr', 'sssssssssssssssssss', 'tttttttttttttttttttt', 'uuuuuuuuuuuuuuuuuuuuu', 'vvvvvvvvvvvvvvvvvvvvvv', 'wwwwwwwwwwwwwwwwwwwwwww', 'xxxxxxxxxxxxxxxxxxxxxxxx', 'yyyyyyyyyyyyyyyyyyyyyyyyy', 'zzzzzzzzzzzzzzzzzzzzzzzzzz']

**7. Element-wise Sum of Two Lists**
- Write a program that takes any two lists L and M of the same size and adds their elements together
to form a new list N whose elements are the sums of the corresponding elements in L and M.
For instance, if L = [3, 1, 4] and M = [1, 5, 9], then N should equal [4, 6, 13].

In [154]:
L_input=input("Enter the list of integer: ")
M_input=input("Enter the list of integer: ")
L=L_input.split()
M=M_input.split()
SUM=[]
for i in range(len(M)):
    SUM.append(int(L[i])+int(M[i]))
print(SUM)

Enter the list of integer:  1 2 3
Enter the list of integer:  5 6 7

[6, 8, 10]

**8. List of Factors**
- Write a program that asks the user for an integer and creates a list that consists of the factors of that
integer.

In [160]:
Input=int(input("Enter a number: "))
l8=[]
for i in range(1,Input+1):
    if Input % i==0:
        l8.append(i)
l8

Enter a number:  12

[1, 2, 3, 4, 6, 12]

**9. Dice Roll Probabilities**
- Write a program to simulate rolling two dice about 10,000 times and compute the percentage of
rolls that result in sums of 2, 3, 4, ..., 12.

In [173]:
import random
dice_res=[(random.randint(1,6)+random.randint(1,6)) for _ in range(10001)]
print((dice_res.count(2)/10000)*100)
print((dice_res.count(3)/10000)*100)
print((dice_res.count(4)/10000)*100)
print((dice_res.count(5)/10000)*100)
print((dice_res.count(6)/10000)*100)
print((dice_res.count(7)/10000)*100)
print((dice_res.count(8)/10000)*100)
print((dice_res.count(9)/10000)*100)
print((dice_res.count(10)/10000)*100)
print((dice_res.count(11)/10000)*100)
print((dice_res.count(12)/10000)*100)

2.78
4.91
8.85
11.559999999999999
13.79
16.37
13.91
10.66
8.53
5.75
2.9000000000000004

**10. Rotate a List**
- Write a program that rotates the elements of a list so that the element at the first index moves to
the second index, the element in the second index moves to the third index, and the element in the
last index moves to the first index.

In [179]:
l=[12,13,14,15,16]
l.insert(0,l[-1])
l.pop()
l

[16, 12, 13, 14, 15]

**11. Patterned List of Ones and Zeroes**
- Using a for loop, create the list [1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, ...] that ends with 10 zeroes
between the last two ones.

In [184]:
l=[]
for i in range(10):
    l.append(1)
    l.extend([0]*i)

print(l)

[1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

**12. Longest Run of Zeroes**
- Write a program that generates 100 random integers (either 0 or 1). Find the longest run of zeroes,
which is the largest number of consecutive zeroes in the list.

In [191]:
longest_cons=0
current_cons=0
l=[random.randint(0,1) for i in range(100)]
print(l)
for i in l:
    if i==0:
        current_cons+=1
        longest_cons=max(current_cons,longest_cons)
    else:
        current_cons=0
print(f"Longest Consecutive of '0': {longest_cons}")

[0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0]
Longest Consecutive of '0': 5

**13. Remove Duplicates**
- Write a program that removes any repeated items from a list so that each item appears at most
once. For instance, the list [1, 1, 2, 3, 4, 3, 0, 0] would become [1, 2, 3, 4, 0].

In [192]:
l=input("Enter numbers followed by space: ")
l1=l.split()
l2=set(l1)
l3=list(l2)
print(f"New List: {l3}")

Enter numbers followed by space:  1 2 2 2 2 2 2 4 5 5 5 6 6 7 8 8

New List: ['5', '4', '7', '6', '8', '2', '1']

**14. Unit Conversion
Write a program that asks the user to enter a length in feet. Provide the user with options to convert
from feet to:**
- 1. Inches
- 2. Yards
- 3. Miles
- 4. Millimeters
- 5. Centimeters
- 6. Meters
- 7. Kilometers
- Use lists to simplify the conversion.

In [209]:
length=float(input("Enter length in feet: "))
choice=int(input('''Enter chooice between 1 to 7:
1. Inches
2. Yards
3. Miles
4. Millimeters
5. Centimeters
6. Meters
7. Kilometers \n'''))
units=['Inches','Yards','Miles','Millimeters','Centimeters','Meters','Kilometers']
factors = [12, 1/3, 1/5280, 304.8, 30.48, 0.3048, 0.0003048]
print(f"{length} feet is {(length*factors[choice-1]):.2f} {units[choice-1]}")

Enter length in feet:  12
Enter chooice between 1 to 7:
1. Inches
2. Yards
3. Miles
4. Millimeters
5. Centimeters
6. Meters
7. Kilometers
 3

12.0 feet is 0.00 Miles