**Assignment 22**

1). Create a dictionary student with keys: "name", "age", "marks". Print each value separately.

In [2]:
d={"name":"Shubh","age":21,"marks":99.9}
for i in d:
    print(f"{i}:{d[i]}")

name:Shubh
age:21
marks:99.9

2). Write a program to add a new key-value pair to an existing dictionary.

In [47]:
d={"name":"Shubh","age":21,"marks":99.9}
key_in=input("Enter key: ")
val_in=input("Enter value: ")
d[key_in]=val_in
print(d)

Enter key:  sex
Enter value:  male

{'name': 'Shubh', 'age': 21, 'marks': 99.9, 'sex': 'male'}

3). Write a program to update the value of a key in a dictionary.

In [10]:
key_in=input('Enter the key you want to update as it is: ')
val_in=input('Enter the value : ')

d[key_in]=val_in
print(d)

Enter the key you want to update as it is:  age
Enter the value :  22

{'name': 'Shubh', 'age': '22', 'marks': 98.9, 'sex': 'male'}

4). Write a program to remove a key from a dictionary using both pop() and del

In [20]:
d4={'a': 57, 'b': 23, 'c': 91, 'd': 12, 'e': 64}
d4.pop('e')
print(d4)
del d4['d']
print(d4)

{'a': 57, 'b': 23, 'c': 91, 'd': 12}
{'a': 57, 'b': 23, 'c': 91}

5).Write a program to check if a given key exists in a dictionary.

In [25]:
d = {1: "Amit", 2: "Sneha", 3: "Kiran"}
key_in=eval(input("Enter key you want to check: "))

if key_in in d:
    print(f"{key_in} exists in dictionary")
    
else:
    print(f"{key_in} does not exists in dictionary")

Enter key you want to check:  2

2 exists in dictionary

6). Write a Python program to through all keys and values of a dictionary.

In [26]:
d = {
 1: "Value1",  2: "Value2",  3: "Value3",  4: "Value4",  5: "Value5",
 6: "Value6",  7: "Value7",  8: "Value8",  9: "Value9", 10: "Value10",
 11: "Value11", 12: "Value12", 13: "Value13", 14: "Value14", 15: "Value15",
 16: "Value16", 17: "Value17", 18: "Value18", 19: "Value19", 20: "Value20",
 21: "Value21", 22: "Value22", 23: "Value23", 24: "Value24", 25: "Value25",
 26: "Value26", 27: "Value27", 28: "Value28", 29: "Value29", 30: "Value30",
 31: "Value31", 32: "Value32", 33: "Value33", 34: "Value34", 35: "Value35",
 36: "Value36", 37: "Value37", 38: "Value38", 39: "Value39", 40: "Value40",
 41: "Value41", 42: "Value42", 43: "Value43", 44: "Value44", 45: "Value45",
 46: "Value46", 47: "Value47", 48: "Value48", 49: "Value49", 50: "Value50",
 51: "Value51", 52: "Value52", 53: "Value53", 54: "Value54", 55: "Value55",
 56: "Value56", 57: "Value57", 58: "Value58", 59: "Value59", 60: "Value60",
 61: "Value61", 62: "Value62", 63: "Value63", 64: "Value64", 65: "Value65",
 66: "Value66", 67: "Value67", 68: "Value68", 69: "Value69", 70: "Value70",
 71: "Value71", 72: "Value72", 73: "Value73", 74: "Value74", 75: "Value75",
 76: "Value76", 77: "Value77", 78: "Value78", 79: "Value79", 80: "Value80",
 81: "Value81", 82: "Value82", 83: "Value83", 84: "Value84", 85: "Value85",
 86: "Value86", 87: "Value87", 88: "Value88", 89: "Value89", 90: "Value90",
 91: "Value91", 92: "Value92", 93: "Value93", 94: "Value94", 95: "Value95",
 96: "Value96", 97: "Value97", 98: "Value98", 99: "Value99", 100: "Value100"
}

for i in d:
    print(f"{i} = {d[i]}")

1 = Value1
2 = Value2
3 = Value3
4 = Value4
5 = Value5
6 = Value6
7 = Value7
8 = Value8
9 = Value9
10 = Value10
11 = Value11
12 = Value12
13 = Value13
14 = Value14
15 = Value15
16 = Value16
17 = Value17
18 = Value18
19 = Value19
20 = Value20
21 = Value21
22 = Value22
23 = Value23
24 = Value24
25 = Value25
26 = Value26
27 = Value27
28 = Value28
29 = Value29
30 = Value30
31 = Value31
32 = Value32
33 = Value33
34 = Value34
35 = Value35
36 = Value36
37 = Value37
38 = Value38
39 = Value39
40 = Value40
41 = Value41
42 = Value42
43 = Value43
44 = Value44
45 = Value45
46 = Value46
47 = Value47
48 = Value48
49 = Value49
50 = Value50
51 = Value51
52 = Value52
53 = Value53
54 = Value54
55 = Value55
56 = Value56
57 = Value57
58 = Value58
59 = Value59
60 = Value60
61 = Value61
62 = Value62
63 = Value63
64 = Value64
65 = Value65
66 = Value66
67 = Value67
68 = Value68
69 = Value69
70 = Value70
71 = Value71
72 = Value72
73 = Value73
74 = Value74
75 = Value75
76 = Value76
77 = Value77
78 = Value78
79 = Value79
80 = Value80
81 = Value81
82 = Value82
83 = Value83
84 = Value84
85 = Value85
86 = Value86
87 = Value87
88 = Value88
89 = Value89
90 = Value90
91 = Value91
92 = Value92
93 = Value93
94 = Value94
95 = Value95
96 = Value96
97 = Value97
98 = Value98
99 = Value99
100 = Value100

7). Write a program to into a new one.

In [28]:
d = {
 1: "Value1",  2: "Value2",  3: "Value3",  4: "Value4",  5: "Value5",
 6: "Value6",  7: "Value7",  8: "Value8",  9: "Value9", 10: "Value10",
 11: "Value11", 12: "Value12", 13: "Value13", 14: "Value14", 15: "Value15",
 16: "Value16", 17: "Value17", 18: "Value18", 19: "Value19", 20: "Value20",
 21: "Value21", 22: "Value22", 23: "Value23", 24: "Value24", 25: "Value25",
 26: "Value26", 27: "Value27", 28: "Value28", 29: "Value29", 30: "Value30",
 31: "Value31", 32: "Value32", 33: "Value33", 34: "Value34", 35: "Value35",
 36: "Value36", 37: "Value37", 38: "Value38", 39: "Value39", 40: "Value40",
 41: "Value41", 42: "Value42", 43: "Value43", 44: "Value44", 45: "Value45",
 46: "Value46", 47: "Value47", 48: "Value48", 49: "Value49", 50: "Value50",
 51: "Value51", 52: "Value52", 53: "Value53", 54: "Value54", 55: "Value55",
 56: "Value56", 57: "Value57", 58: "Value58", 59: "Value59", 60: "Value60",
 61: "Value61", 62: "Value62", 63: "Value63", 64: "Value64", 65: "Value65",
 66: "Value66", 67: "Value67", 68: "Value68", 69: "Value69", 70: "Value70",
 71: "Value71", 72: "Value72", 73: "Value73", 74: "Value74", 75: "Value75",
 76: "Value76", 77: "Value77", 78: "Value78", 79: "Value79", 80: "Value80",
 81: "Value81", 82: "Value82", 83: "Value83", 84: "Value84", 85: "Value85",
 86: "Value86", 87: "Value87", 88: "Value88", 89: "Value89", 90: "Value90",
 91: "Value91", 92: "Value92", 93: "Value93", 94: "Value94", 95: "Value95",
 96: "Value96", 97: "Value97", 98: "Value98", 99: "Value99", 100: "Value100"
}
new_d=d.copy()
print(new_d)

{1: 'Value1', 2: 'Value2', 3: 'Value3', 4: 'Value4', 5: 'Value5', 6: 'Value6', 7: 'Value7', 8: 'Value8', 9: 'Value9', 10: 'Value10', 11: 'Value11', 12: 'Value12', 13: 'Value13', 14: 'Value14', 15: 'Value15', 16: 'Value16', 17: 'Value17', 18: 'Value18', 19: 'Value19', 20: 'Value20', 21: 'Value21', 22: 'Value22', 23: 'Value23', 24: 'Value24', 25: 'Value25', 26: 'Value26', 27: 'Value27', 28: 'Value28', 29: 'Value29', 30: 'Value30', 31: 'Value31', 32: 'Value32', 33: 'Value33', 34: 'Value34', 35: 'Value35', 36: 'Value36', 37: 'Value37', 38: 'Value38', 39: 'Value39', 40: 'Value40', 41: 'Value41', 42: 'Value42', 43: 'Value43', 44: 'Value44', 45: 'Value45', 46: 'Value46', 47: 'Value47', 48: 'Value48', 49: 'Value49', 50: 'Value50', 51: 'Value51', 52: 'Value52', 53: 'Value53', 54: 'Value54', 55: 'Value55', 56: 'Value56', 57: 'Value57', 58: 'Value58', 59: 'Value59', 60: 'Value60', 61: 'Value61', 62: 'Value62', 63: 'Value63', 64: 'Value64', 65: 'Value65', 66: 'Value66', 67: 'Value67', 68: 'Value68', 69: 'Value69', 70: 'Value70', 71: 'Value71', 72: 'Value72', 73: 'Value73', 74: 'Value74', 75: 'Value75', 76: 'Value76', 77: 'Value77', 78: 'Value78', 79: 'Value79', 80: 'Value80', 81: 'Value81', 82: 'Value82', 83: 'Value83', 84: 'Value84', 85: 'Value85', 86: 'Value86', 87: 'Value87', 88: 'Value88', 89: 'Value89', 90: 'Value90', 91: 'Value91', 92: 'Value92', 93: 'Value93', 94: 'Value94', 95: 'Value95', 96: 'Value96', 97: 'Value97', 98: 'Value98', 99: 'Value99', 100: 'Value100'}

8). Write a program to in a dictionary.

In [36]:
n=int(input("Enter no of entries you want to add: "))
d8={}
for i in range(n):
    key_in=input(f"Enter key {i+1}:")
    val_in=input(f"Enter value {i+1}:")
    d8[key_in]=val_in
print(d8)

Enter no of entries you want to add:  3
Enter key 1: 18
Enter value 1: Virat
Enter key 2: 45
Enter value 2: Rohit
Enter key 3: 07
Enter value 3: Dhoni

{'18': 'Virat', '45': 'Rohit', '07': 'Dhoni'}

9).Write a program to by :  keys in ascending

In [41]:
s_d8=dict(sorted(d8.items()))
print(s_d8)

{'07': 'Dhoni', '18': 'Virat', '45': 'Rohit'}

In [45]:
d9={1:10,2:20,3:30}
s_d9=dict(sorted(d9.items(), key=lambda x: x[1], reverse=True))
print(s_d9)

{3: 30, 2: 20, 1: 10}