**List**

In [71]:
l1=[10,20,30,40]
l2=['A','B','C']
l3=[10,20,30,'A','B','C']
l4=[10,'A',20.5,True,10+20j]
l5=[[10,20,30]]
l6=[10,10,10]
l7=[]
#list can take all data types 
#list are heterogeneous
#duplicates are available
#list in a list also possible

#len all
#sum l1 
#max l1 l2 
#min 
#sorted
#reversed

print(len(l1))
print(sum(l1))
print(max(l1))
print(min(l1))
l1=[5,7,9,8]
print(sorted(l1))
print(sorted(l1,reverse=True))
print(list(reversed(l1)))
#print(reversed(l1,reversed='true'))

4
100
40
10
[5, 7, 8, 9]
[9, 8, 7, 5]
[8, 9, 7, 5]

**index**

In [72]:
l3=[10,20,30,'A','B','C']

In [73]:
l=['Apple','Banana']
l[1]

'Banana'

In [74]:
l=['Apple',['Banana']]
l[1][0]

'Banana'

In [75]:
l=['Apple',['Banana','Cherry']]
print(len(l))
l[1][1]

2

'Cherry'

In [76]:
l=['Apple',['Banana',['Cherry']]]
print(len(l))
l[1][1][0]

2

'Cherry'

In [77]:
l=['Orange',['Nagpur',['MH',['Shivaji',['Shambaji',['Chava',['VK']]]]]]]
l[1][1][1][1][1][1][0]

'VK'

**List is a Mutable**

In [78]:
my_list = [1, 2, 3]
my_list[0] = 10      # Modify element
my_list.append(4)    # Add element
del my_list[1]       # Delete element

print(my_list)

[10, 3, 4]

**Concatenation**

In [79]:
l1=[10,20,30,40]
l2=[50,60,"A","B"]
l3=l1+l2
print(l3)

[10, 20, 30, 40, 50, 60, 'A', 'B']

In [80]:
l1=[10,20,30,40]
l2=[50,60,"A","B"]
print(l1-l2)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [ ]:
l1=[10,20,30,40]
print(l1*2)

In [ ]:
l1=[10,20,30,40]
l2=[50,60,"A","B"]
print(l1/l2)

In [ ]:
# -15 -14 -13-12-11 10 
l=[10, 20,30,40,1, 2,3,4,'a','p','p','l','e',True,False]
#  0   1  2  3  4   5 6 7  8   9   10  11  12  13  14

l[2:12:12],l[2:12:-2],l[2:-12:2],l[-2:-12:-2],l[2:-12:-2]

**Methods**

In [ ]:
dir([])

**clear() and copy()**

In [ ]:
l1=[1,2,3,4,5,6,7,8]
l1.clear()
print(l1)

In [ ]:
l1=[10,20,30,40]
l2=l1.copy()
l1.clear()
print(l2,l1)

**count()**

In [ ]:
l1=[10, 20,30,40,1, 2,3,4,'a','p','p','l','e',True,False]
l1.count(10)

**index()**

In [ ]:
l=[10, 20,30,40,1, 2,3,4,'a','p','p','l','e',1,1,2,1]
i1=l.index(1)
i2=l.index(1,i1+1)
i3=l.index(1,i2+1)
i4=l.index(1,i3+1)
i1,i2,i3,i4

**len()**

In [ ]:
l1=[1,4,5,6,7,9]
len(l1)

**pop() and remove()**

| Feature              | `pop()`                                     | `remove()`                             |
| -------------------- | ------------------------------------------- | -------------------------------------- |
| **What it removes**  | Removes element **by index**                | Removes element **by value**           |
| **Return value**     | ✅ Yes, returns the removed element         | No, returns nothing                    |
| **Default behavior** | Removes the **last item** if no index given | No default, you **must specify value** |
| **Error raised**     | `IndexError` if index is out of range       | `ValueError` if value not found        |
| **Use case**         | When you know the **position**              | When you know the **value**            |

In [ ]:
l=[1,5,6,7,8,9]
l.pop()
l

In [ ]:
l=[1,5,6,7,8,9]
l.pop(2)
l

In [ ]:
l=["apple","banana","cherry","cherry","a","b",10,20,30]
i1=l.index("cherry")
i2=l.index("cherry",i1+1)
l.pop(i2)
l

In [ ]:
l=[1,5,6,7,8,9]
l.remove(1)
l

In [ ]:
s='apple'
print(s.find('z'))
print(s.count('z'))
print(s.replace('z','Z'))
print(s.index('z'))

**append() , extend() , concat()**

In [ ]:
l1=[1,3,2,4,5,6]
l1.append(6)
l1

In [ ]:
l1=[1,3,2,4,5,6]
l1.append([10,20,30])
l1

In [82]:
l1=[10,20,30]
l2=['A','B','C']
l1.extend(l2)
print(l1)
print(l2)
l1+l2 #not saved

[10, 20, 30, 'A', 'B', 'C']
['A', 'B', 'C']

[10, 20, 30, 'A', 'B', 'C', 'A', 'B', 'C']

In [81]:
l1=[10,20,30]
l2=['A','B','C']
l2.extend(l1)
print(l1)
print(l2)

[10, 20, 30]
['A', 'B', 'C', 10, 20, 30]

[10, 20, 30, 'A', 'B', 'C', 10, 20, 30]

- In many with append there
- Append is use to store the result
- So far we just print the results
- We never stored

In [1]:
l=[]
l.append(1)
l.append(2)
l.append(3)
l

[1, 2, 3]

In [4]:
l=[]
for i in range(1,4):
    print(i)
    l.append(i)
print(l)

1
2
3
[1, 2, 3]

**Write a program ask user take 5 random number print even and odd save even and odd**

In [10]:
import random
even_list=[]
odd_list=[]
for i in range(5):
    n=random.randint(1,100)
    if n%2==0:
        even_list.append(f"{n}:even")
    else:
        odd_list.append(f"{n}:odd")
print(even_list)
print(odd_list)

['76:even', '40:even']
['51:odd', '1:odd', '45:odd']

In [ ]:
# Q1) input=['hyd','bengaluru','mumbai','chennai']
#     output=['Hyd','Bengaluru','Mumbai','Chennai']

# Q2) input=['hyd','bengaluru','mumbai','chennai']
#     output=['HYD','BENGALURU','MUMBAI','CHENNAI']

# Q3) input=['hyd','bengaluru','mum#bai','chen#nai']
#     output=['mum#bai','chen#nai']

# Q4) input=['hyd','bengaluru','mum#bai','chen#nai']
#     output=['hyd','bengaluru']

# Q5) input=['hyd','bengaluru','mumbai','chennai']
#     multiply all indexes by 10

# Q6) input=['hyd','bengaluru','mumbai','chennai']
#     sum of all indexes

# Q7) Sum of first 10 Natural numbers

In [12]:
Input=['hyd','bengaluru','mumbai','chennai']
output=[]
for i in Input:
    output.append(i.title())
print(output)

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

In [13]:
Input=['hyd','bengaluru','mumbai','chennai']
output=[]
for i in Input:
    output.append(i.upper())
print(output)

['HYD', 'BENGALURU', 'MUMBAI', 'CHENNAI']

In [28]:
Input=['hyd','bengaluru','mum#bai','chen#nai']
output=[]
for i in Input:
    if '#' in i :
        output.append(i)
    
print(output)

['mum#bai', 'chen#nai']

In [18]:
Input=['hyd','bengaluru','mum#bai','chen#nai']
output=[]
for i in Input:
    if '#' in i:
        pass
    else:
        output.append(i)
print(output)

['hyd', 'bengaluru']

In [22]:
Input=['hyd','bengaluru','mumbai','chennai']
output=[]
for i in Input:
    output.append(Input.index(i)*10)
print(output)

[0, 10, 20, 30]

In [25]:
Input=['hyd','bengaluru','mumbai','chennai']
output=[]
for i in Input:
    output.append(Input.index(i))
print(sum(output))

6

In [27]:
output=[]
for i in range(1,11):
    output.append(i)
print(sum(output))

55

In [29]:
num=list(range(1,11))
print(sum(num))

55

In [ ]:
# find tha max in a given list without max l=[3,2,7,1,9,5] max=3
# find 2nd max
#find the min value 
#find the 2nd min
#sort values
#reverse values

In [30]:
l=[3,2,7,1,9,5]
max=l[0]
for i in l:
    if max<i:
        max=i
print(max)

9

In [31]:
l=[3,2,7,1,9,5]
min=l[0]
for i in l:
    if min>i:
        min=i
print(min)

1

In [35]:
l=[3,2,7,1,9,5]
max=l[0]
max2=l[len(l)-1]
for i in l:
    if max<i:
        max=i
        l[0]=max
for i in l:
    if max2<i:
        max2=i
    
print(max2)

5

**sorted and sort**

In [37]:
l=[30,20,70,10,90,50]
l.sort()
l

[10, 20, 30, 50, 70, 90]

In [38]:
l=[30,20,70,10,90,50]
l2=sorted(l)
l2

[10, 20, 30, 50, 70, 90]

**reverse() and reversed()**

In [39]:
l=[1,4,6,7,9,10]
l.reverse()
l

[10, 9, 7, 6, 4, 1]

In [41]:
l=[1,4,6,7,9,10]
list(reversed(l))
l

[1, 4, 6, 7, 9, 10]

**split()**

In [9]:
s="hai how are you"
s1=s.split()
space=' '
print("==>".join(s1))
print(" ".join(s1))

hai==>how==>are==>you
hai how are you

In [ ]:
#we will take one string
#split that string
#we will calculate len of each word in a string
#if len is greater than 3
#then we will take those words in new list
#we will join those words in a new list
#we will join tose word will make a string

In [17]:
str1="""
On fragrant spices, rice, and meat, His biryani,
a royal treat. Then slumber calls, a gentle sway,
He naps the afternoon away. 
Awake for shows, a digital flight, 
Biryani dreams in fading light.
"""
s2 = str1.split()
l2 = []
for word in s2:
    if len(word) > 3:
        l2.append(word)
print(l2)
print(" ".join(l2))

['fragrant', 'spices,', 'rice,', 'meat,', 'biryani,', 'royal', 'treat.', 'Then', 'slumber', 'calls,', 'gentle', 'sway,', 'naps', 'afternoon', 'away.', 'Awake', 'shows,', 'digital', 'flight,', 'Biryani', 'dreams', 'fading', 'light.']
fragrant spices, rice, meat, biryani, royal treat. Then slumber calls, gentle sway, naps afternoon away. Awake shows, digital flight, Biryani dreams fading light.